.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.container p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.imageContainer {
  margin-top: 3rem;
  position: relative;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.imageContainer:hover img {
  transform: scale(1.1);
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.column {
  flex-basis: calc(50% - 1rem);
  margin-right: 1rem;
}

.column:last-child {
  margin-right: 0;
}

.column img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.column img:hover {
  transform: scale(1.1);
}
